
#regbutton {
	text-decoration:none; 
	text-align:center; 
	padding:11px 21px; 
	border:solid 2px #004F72; 
	-webkit-border-radius:8px;
	-moz-border-radius:8px; 
	border-radius: 8px; 
	font:31px "MS Serif", "New York", serif; 
	font-weight:bold; 
	color:#0c0429; 
	background-color:#3BA4C7; 
	background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
	background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
	text-shadow: -1px 0px 16px #bababa; 
}
#button {
	outline:none;
	margin-top: 10px;
	text-decoration:none; 
	text-align:center; 
	padding:5px 30px; 
	border:solid 2px #004F72; 
	-webkit-border-radius:8px;
	-moz-border-radius:8px; 
	border-radius: 8px; 
	font:17px "MS Serif", "New York", serif; 
	font-weight:bold; 
	color:#0c0429; 
	background-color:#3BA4C7; 
	background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
	background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
	text-shadow: -1px 0px 16px #bababa; 
}
#clrbutton{
	outline:none;
	text-decoration:none; 
	text-align:center; 
	padding:0px 3px; 
	border:solid 2px #004F72; 
	-webkit-border-radius:8px;
	-moz-border-radius:8px; 
	border-radius: 8px; 
	font:14px "MS Serif", "New York", serif; 
	font-weight:bold; 
	color:#0c0429; 
	background-color:#3BA4C7; 
	background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
	background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
	text-shadow: -1px 0px 16px #bababa; 
}
#wrapper {
	margin-top: 20px;
}
#close a {
	text-decoration: none;
	color: #3BA4C7; 
	font-weight: bold;
}
#close {
	font-weight: bold;
	position: absolute;
	height: 10px;
	width: 10px;
	top: 0px;
	left: 400px;
	color: #3BA4C7; 
	
}
#form {
	z-index: 999;
	input {outline:none;}
	padding: 10px;
	width: 450px;
	height: 370px;
  	overflow: auto;
  	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}
#form-header{
	text-align: left;
	color:#3BA4C7;
	font:25pt "MS Serif", "New York", serif;
}
#name {
	background: url('img/user.png')no-repeat scroll 1px 1px;
}
#age{
	background: url('img/age.png')no-repeat scroll 1px 1px;
}
#sname{
	background: url('img/sname1.png')no-repeat scroll 1px 1px;
}
.form-wrapper{
	position: relative;
}
input {
	height: 20px;
	padding-left: 23px;
	outline:none;
	margin-top:10px;
	width: 400px;
	border: none;
	border-bottom-style:solid ;
	border-bottom-color: #3BA4C7;
}
label {
	color:#3BA4C7;
	display: inline-block;
	margin-top: 10px;
	font: 18pt "MS Serif", "New York", serif;
}
span{
	display: inline-block;
	margin-top: 5px;
	background-color: red;
	color:white;
}
::-webkit-input-placeholder {
	
	font-style: italic;
}
::-moz-placeholder          {
	
	font-style: italic;
	}
:-moz-placeholder           {
	font-style: italic;
	}/* Firefox 18- */
:-ms-input-placeholder      {
	font-style: italic;
}