@font-face{
	font-family: moserrat;
	src: url(font/Montserrat-Regular.ttf);
}
body{
	background-color: #a39f9b;
}
#header {background:url(5.png) top center repeat-x; 
    height: 400px;
	width:100%;
}
#conteiner{	
	font-family: moserrat;
	color:red;
	margin-left: 10px; 
	margin-top:0px;

}