@font-face
{
	font-family: moserrat;
	src: url(font/Montserrat-Regular.ttf);
}
body
{
	background-color: #a39f9b;
	margin:0px;
	

}
#header 
{
	background:url(5.png)  repeat-x; 
	background-position:bottom;
	}
#headertxt
{	
	font-family: moserrat;
	font-weight: bold;
	color:red;
	line-height: 2;
	padding-left: 10px;
}	

	

	

}