body {
	background: #dddddd;
}
.header {
	background: #bbbbbb;
	font: bold 46px Arial;
	color: black;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}
.flexc {
	display: flex;
	flex-direction:column;
	border:35px solid blue;
	margin-top: 35px;
}
@media screen and (min-width: 768px) {
	.flexc {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	align-content: stretch; 
	border:35px solid blue;
	margin-top: 35px;
	}
}
.flexi1 {
	background: #f08080;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.flexi1 {
	flex:1 0 50%;
	background: #f08080;
	text-align: center;
	}
}
.flexi2 {
	background: #8a2be2;
	text-align: center;

}
@media screen and (min-width: 768px) {
	.flexi2 {
	flex:1 0 50%;
	background: #8a2be2;
	text-align: center;
	}
}
.flexi3 {
	background: #4169e1;
	text-align: center;
	}
@media screen and (min-width: 768px) {
	.flexi3 {
	flex:1 0 50%;
	background: #a52a2a;
	text-align: center;
	}
}
.flexi4 {
	background: #20b2aa;
	width: 100;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.flexi4 {
	flex:1 0 50%;
	order: 1;
	background: #20b2aa;
	text-align: center;
	}
}
.flexi5 {
	background: #4169e1;
	text-align: center;
}
@media screen and (min-width: 768px){
	.flexi5 {
	flex:1 0 50%;
	background: #4169e1;
	}
}
.footer {
	background: #bbbbbb;
	font: bold 46px Arial;
	color: black;
	text-align: center;
	margin-top: 40px;
	padding-top: 60px;
}
@media screen and (min-width: 1024px) {
.flexi1  {
	flex:1 0 33.3%;
	background: #f08080;
	}
}
.flexi2 {
	flex:1 0 33.3%;
	background: #8a2be2;
	
}
.flexi3 {
	flex:1 0 33.3%;
	background: #a52a2a;
	
}
.flexi4 {
	flex:1 0 50%;
	order: 1;
	background: #20b2aa;
	
}
.flexi5 {
	flex:1 0 50%;
	background: #4169e1;
	
}

.text {
	text-align: center;
	font: bold 26px Arial;
	padding-top: 65px;
	padding-bottom: 65px;
}