@font-face
{
	font-family: moserrat;
	src: url(font/Montserrat-Regular.ttf);
}
body
{   
	margin-left: 0px;
	margin-top: 0px;
	background-color: white;
}
#header 
{   
	background:url(5.png)  repeat-x; 
	background-position:bottom;
}
#headertxt
{	margin-top: 0px;
	padding-left: 10px;
	font-family: moserrat;
	font-weight: bold;
	color:red;
	line-height: 2;
}	

	

	

